body {
    padding-top: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.jumbotron {
    background: url(../images/background_sky.jpg) no-repeat;
    background-size: cover;
    background-position: right 0px bottom 0px;
    color: #ffffff;
    text-shadow: 1px 1px 1px blue;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 5px;
}

/* Multychart tabs */

.navbar-inverse {
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    background-color: #39CCCC;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav.nav-pills li p {
    margin: 0 0 2px;
    font-size: 0.8em;
    text-align: center;
}

/* end Multychart tabs */

/* Not found page */

.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn { 
    margin-right:10px; 
}

/* end Not found page */

/* throbber component */

.throbberWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.throbberContainer {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    background: url(../images/throbber.gif) no-repeat;
    background-size: cover;
}

/* end throbber component */

.weather-icon {
    width: 60px;
}

.min-temp {
    color: #888888;
}

.close-btn {
    width: 20px;
    height: 20px;
    float: right;
    background: url(../images/refresh.png) no-repeat;
    background-size: cover;
}
