body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.jumbotron {
    background: url(../images/background_sky.jpg) no-repeat;
    background-size: cover;
    background-position: right 0px bottom 0px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    padding: 20px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn { 
    margin-right:10px; 
}

.weather-icon {
    width: 60px;
}

.min-temp {
    color: #888888;
}
